.consult {
  padding: 55px 0;
  min-height: 260px;
  background: url('../img/consult-bg.jpg') no-repeat center;
  background-size: cover;
  box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
}

.consult .title {
  margin-bottom: 10px;
  color: $white;
  text-align: center;
  text-transform: uppercase;
}

.consult .title-sub {
  color: $white;
  text-align: center;
}

.consult__form {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 15px;
}

.consult__form-inputs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.consult__form-input {
  height: 50px;
  background-color: $white;
  border: 1px solid #303030;
  border-radius: 4px;
  font-size: 16px;
  padding: 0 20px;

  &::placeholder {
    color: #5A5A5A;
  }
}

.consult__form-btn {
  font-weight: 500;
  padding: 0 30px;
}

@media (max-width: 1279px) {
  .consult__form {
    grid-template-columns: 1fr;
  }

  .consult__form-inputs {
    grid-template-columns: 1fr;
    margin: 0 auto;
  }

  .consult__form-input {
    width: 280px;
    max-width: 100%;
  }

  .consult__form-btn {
    width: max-content;
    margin: 0 auto;
  }

  .consult {
    padding: 25px 0;
  }
}