.contact__inner {
  position: relative;
}

.contact__map {
  margin: 0 -50px;
  min-height: 450px;
  background: url('../img/contact-map-bg.jpg') no-repeat center;
  background-size: cover;
}

.contact__items {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.contact__item {
  background-color: $white;
  box-shadow: 0 0 8px rgba(0, 0, 0, .12);
  border-radius: 4px;
  color: $nero;

  display: flex;
  flex-direction: column;
  padding: 10px;
  min-width: 300px;
  transition: box-shadow .2s linear;

  &:hover {
    box-shadow: 4px 4px 15px rgba(166, 249, 126, .4);
  }
}

.contact__item-link {
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;

  margin-bottom: 10px;

  &:last-of-type {
    margin-bottom: 0;
  }

  svg {
    margin-right: 5px;
  }
}

.contact__item-address {
  font-size: 16px;
  display: flex;
  align-items: center;
  font-style: normal;

  svg {
    margin-right: 5px;
  }
}

.contact__item-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;

  li + li {
    display: flex;
    margin-left: 10px;
  }

  a {
    display: block;
  }

  svg {
    transition: background-color .2s linear;
    border-radius: 5px;

    &:hover {
      background-color: $feijoa;
    }
  }
}

.contact__item + .contact__item {
  margin-top: 10px;
}

.contact__item-title {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 500;
}

.contact__popup-trigger {
  display: none;

  width: 75px;
  height: 75px;
  background-color: $feijoa;
  border-radius: 50%;

  position: absolute;
  left: 0;
  bottom: -17px;

  svg {
    fill: none;
  }
}

@media (max-width: 1399px) {
  .contact__map {
    margin: 0 -20px;
  }
}

@media (max-width: 1279px) {
  .contact__map {
    min-height: 410px;
  }

  .contact__items {
    margin-bottom: 10px;
    position: static;
    transform: none;
    display: flex;
  }

  .contact__item + .contact__item {
    margin: 0 0 0 15px;
  }

  .contact__item:nth-child(2),
  .contact__item:nth-child(3) {
    display: none;
  }

  .contact__popup-trigger {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 767px) {
  .contact__map {
    min-height: 500px;
  }

  .contact__map {
    margin: 0 -10px;
  }

  .contact .title-sub {
    display: none;
  }

  .contact__item:nth-child(4) {
    display: none;
  }

  .contact__items {
    position: absolute;
    top: 15px;
    left: 5px;
  }

  .contact__item {
    min-width: auto;
  }

  .contact__item-title {
    display: none;
  }
}