.header {
  position: fixed;
  top: 10px;
  left: 0;
  right: 0;
  background-color: transparent;
  z-index: 99;
  transition: top .2s linear;
}

.header-fixed {
  top: 0;
  background-color: $nero;
}

.header__inner {
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  display: flex;
  align-items: center;
}

.header__logo span {
  margin-left: 10px;
  color: $feijoa;
  font-size: 14px;
}

.header__action {
  display: flex;
}

.header__action-call {
  display: flex;
  margin-right: 20px;
}

.header__action-call-mobile {
  display: none;
  font-size: 14px;
  color: $feijoa;

  svg {
    margin-right: 5px;
  }
}

.header__action-call__text {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  &:hover span:nth-of-type(2) {
    text-decoration: underline;
  }
}

.header__action-call__text span {

  &:first-of-type {
    color: $white;
    font-size: 16px;
    font-weight: 700;
  }

  &:last-of-type {
    color: #bcbcbc;
    font-size: 14px;
    font-weight: 500;
  }
}

.header__action-quote {
  padding: 0 22px;
  height: 40px;
  font-weight: 600;
}

@media (max-width: 1279px) {
  .header__action-call {
    display: none;
  }
}

@media (max-width: 767px) {
  .header__action-quote {
    display: none;
  }

  .header__action-call-mobile {
    display: flex;
    align-items: center;
  }

  .header__inner {
    padding: 10px 0;
  }
}