.reviews .title {
  text-transform: uppercase;
}

.reviews__item {
  min-height: 265px;
  padding: 20px;
  background-color: $white;
  border: 1px solid #ededed;
  box-shadow: 0 2px 8px rgba(235, 235, 235, 0.25);
  border-radius: 13px;
}

.reviews__item-header {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reviews__item-author {
  display: flex;
  align-items: center;

  .icon-special {
    margin-right: 8px;
  }
}

.reviews__item-country {
  display: flex;
  align-items: center;

  img {
    margin-right: 5px;
  }
}

.reviews__rating-stars {
  margin-bottom: 20px;
  width: 110px;
  height: 18px;
  background: url('../img/reviews-star-icon.svg') repeat-x;
}

.reviews__item-text {
  font-size: 16px;

  p + p {
    margin-top: 15px;
  }
}

.reviews .swiper-container {
  padding-bottom: 45px;
}

.reviews .swiper-pagination {
  bottom: 0;
  position: absolute;

  &:after,
  &:before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    color: $nero;
    font-family: 'Montserrat', sans-serif;
  }

  &:before {
    content: '01';
    left: 45%;
  }

  &:after {
    content: '03';
    right: 45%;
  }
}

.reviews .swiper-pagination-bullet-active {
  background-color: $feijoa;
}

@media (max-width: 1279px) {
  .reviews .swiper-pagination {

    &:before {
      left: 40%;
    }

    &:after {
      right: 40%;
    }
  }
}

@media (max-width: 767px) {
  .reviews .swiper-pagination {

    &:before {
      content: '01';
      left: 30%;
    }

    &:after {
      content: '03';
      right: 30%;
    }
  }
}