.schedule .title {
  margin-bottom: 45px;
}

.schedule__inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
}

.schedule__item {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 15px;
}

.schedule__item + .schedule__item {
  margin-top: 10px;
}

.schedule__item-line-wrap {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-gap: 10px;
}

.schedule__item-line {
  width: 1px;
  background-color: #e2e2e2;
  height: 100%;
  margin: 0 auto;
}

.schedule__item-title {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 500;
  text-align: right;
  text-transform: uppercase;
}

.schedule__item-text {
  margin-bottom: 45px;
  font-size: 16px;
  color: #616161;
  text-align: right;
}

.schedule__right {
  margin-top: 30px;
}

.schedule__right .schedule__item {
  grid-template-columns: auto 1fr;
}

.schedule__right .schedule__item-title {
  text-align: left;
}

.schedule__right .schedule__item-text {
  text-align: left;
}

.schedule__right .schedule__item:last-of-type .schedule__item-line,
.schedule__left .schedule__item:last-of-type .schedule__item-line {
  display: none;
}

@media (max-width: 1279px) {
  .schedule__left .schedule__item-line-wrap {
    order: -1;
  }

  .schedule__item-title {
    text-align: left;
    font-size: 18px;
    margin-bottom: 10px;
  }

  .schedule__item-text {
    text-align: left;
    margin-bottom: 25px;
  }

  .schedule__item {
    grid-template-columns: auto 1fr;
  }

  .schedule__inner {
    grid-template-columns: 1fr;
    grid-gap: 0;
  }

  .schedule__left .schedule__item:last-of-type .schedule__item-line {
    display: grid;
  }

  .schedule__right {
    margin: 10px 0 0;
  }

  .schedule__item-text {
    color: $black;
  }
}

@media (max-width: 767px) {

  .schedule__item-line-wrap {
    display: block;
  }

  .schedule__item-line {
    display: none;
  }

  .schedule__left .schedule__item:last-of-type .schedule__item-line {
    display: none;
  }

  .schedule__left .schedule__item,
  .schedule__right .schedule__item {
    grid-template-columns: 1fr;
    grid-gap: 0;
    background: $white;
    box-shadow: 4px 4px 10px rgba(228, 228, 228, .25);
    border-radius: 4px;
    padding: 15px 5px;

    .icon-special {
      margin: 0 auto 10px;
    }
  }

  .schedule__left .schedule__item-title,
  .schedule__right .schedule__item-title {
    text-align: center;
  }

  .schedule__left .schedule__item-text,
  .schedule__right .schedule__item-text {
    text-align: center;
  }
}