.title {
  margin-bottom: 15px;
  font-size: 35px;
  font-weight: 600;
  color: $nero;

  &--about {
    margin-bottom: 25px;
  }
}

.title-sup {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  color: $nero;
  text-transform: uppercase;
}

.title-sub {
  margin-bottom: 25px;
  font-size: 18px;
  color: $nero;
  font-weight: 400;
}

.title-line {
  margin-bottom: 30px;
  font-size: 25px;
  font-weight: 600;
  color: $nero;
  position: relative;

  svg {
    position: absolute;
    bottom: -15px;
    left: 0;
  }
}